<h3>Crypto Currency Lookup</h3>
<br/>
<%= form_with url: home_lookup_path do |f| %>
  <%= f.text_field :crypto_symbol, placeholder: 'Enter a symbol' %>
  <%= f.submit "Smash here!" %>
<% end %>
<br/><br/>

<% if @coin && @coin.empty? %>
  <% if !@symbol.empty? %>
    <div><%= @symbol %> not found.</div>
  <% end %>
  <div>Please enter a valid symbol!</div>
<% elsif @coin %>
  <%= render 'home/single_coin_info_panel' %>
<% end %>